
<nav class="navbar">
  <a routerLink="/home">Home</a>

  <ng-container *ngIf="!isLoggedIn(); else loggedInLinks">
    <div class="auth-links">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>
  </ng-container>

  <ng-template #loggedInLinks>
    <div class="logged-in-links">
      <app-notification-bell></app-notification-bell>
      <a [routerLink]="getDashboardRoute()">Dashboard</a>
      <button (click)="logout()">Logout</button>
    </div>
  </ng-template>
</nav>
